<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>subremax</title>
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="static/assets/libraries/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="static/assets/libraries/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="static/assets/css/trackpad-scroll-emulator.css" rel="stylesheet" type="text/css">
    <link href="static/assets/css/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="static/assets/css/jquery.raty.css" rel="stylesheet" type="text/css">
    <link href="static/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/assets/css/nouislider.min.css" rel="stylesheet" type="text/css">
    <link href="static/assets/css/explorer-red.css" rel="stylesheet" type="text/css">
    <link href="static/assets/css/style.css " rel="stylesheet" type="text/css">
   <!--  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}"> -->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

    <script type="text/javascript" src="static/assets/js/jquery.js"></script>
    <script type="text/javascript" src="static/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/assets/js/chartist.min.js"></script>
    <!-- <script type="text/javascript" src="static/assets/js/google-map-richmarker.min.js"></script> -->
    <!-- <script type="text/javascript" src="static/assets/js/google-map-infobox.min.js"></script> -->
    <!-- <script type="text/javascript" src="static/assets/js/google-map-markerclusterer.js"></script> -->
    <!-- <script type="text/javascript" src="static/assets/js/google-map.js"></script> -->
    <script type="text/javascript" src="static/assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.inlinesvg.min.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.affix.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="static/assets/libraries/slick/slick.min.js"></script>
    <script type="text/javascript" src="static/assets/js/nouislider.min.js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.raty.js"></script>
    <script type="text/javascript" src="static/assets/js/wNumb.js"></script>
    <script type="text/javascript" src="static/assets/js/particles.min.js"></script>
    <script type="text/javascript" src="static/assets/js/explorer.js"></script>
    <script type="text/javascript" src="static/assets/js/explorer-map-search.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/g/lightgallery,lg-autoplay,lg-fullscreen,lg-hash,lg-pager,lg-share,lg-thumbnail,lg-video,lg-zoom"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/js/jquery.justifiedGallery.min.js"></script>
    <!-- <script type="text/javascript" src="static/assets/js/markerwithlabel_packed.js"></script> -->
  <script type="text/javascript" src="static/assets/js/custom.js"></script>
</html>
