.page-title-rx {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(50, 50, 50, 0.2);
  margin: 0 0 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 10; }
.page-title-rx h1 {
  color: #F74949;
  font-size: 20px;
  font-weight: 400;
  float: left;
  line-height: 60px;
  margin: 0;
  padding: 0; }
.page-title-rx h1 small {
  color: #b2b2b2;
  font-size: 15px;
  font-weight: 400; }
.page-title-rx .switcher {
  border-right: 1px solid #eeeeee;
  float: right;
  margin: 14px 20px 0 0;
  padding: 0 20px 0 0; }
.page-title-rx .switcher:first-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0; }

.header-logo-rx {
    float: left;
    line-height: 60px;
    margin: 16px 20px 0 0;
}
.header-logo-rx img{
        margin: -31px 10px 0 0;
    max-height: 33px;
    vertical-align: middle;
    width: auto;
}
.text-footer p{
  color:#fff;
}
.sort-options-rx a{
    padding: 6px 28px;
    border: 1px solid;
    font-size: 21px;
}
.filter-rx {
    margin: 0;
}
.sort-options-rx ul{
    background-color: transparent;
}
.sort-options-rx img{
  height: 10px;
  width: 10px;
}
.price-size {
  font-size: 12px;
}
.filter-boxed-rx {
  padding: 13px 14px 0px 16px;
  margin-top: 12px;

}
.text-logo {
  padding: 60px 0px 0px 0px;
}
.footer-image-background {
  background-image: url(/static/assets/img/remax_footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
 /* opacity: 0.5;*/
}
.footer-image{
  padding: 0px;
}
.baner-image {
	width: 100%;
}
.background-search {
 background-color: rgba(15, 139, 227, 0.70);
}
.background-button-search {
  background-color: rgba(247, 73, 73, 0.61);
}
.image-gallery-top {
  padding: 0px;
}
.image-baner-gallery img{
  height: 30%;
}

.text-in-image {
    background-color: #E21A22;
    bottom: 60px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 3px;
    left: 0px;
    opacity: 0.8;
    border-radius: 2px;
    margin: 0;
    position: absolute;
}
/*.text-in-image:hover{
    background-color: #E21A22;
    bottom: 60px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 7px;
    left: 0px;
    margin: 0;
    position: absolute;
}*/
.text-in-image-2 {
    background-color: #0275d8;
    bottom: 13px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 3px;
    left: 0px;
    opacity: 0.8;
    margin: 0;
    border-radius: 2px;
    position: absolute;
}
/*.text-in-image-2:hover {
    background-color: #0275d8;
    bottom: 13px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 8px;
    left: 0px;
    margin: 0;
    position: absolute;
}*/
.breadcrumb-rm {
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    margin: 9px 0px 36px -1px;
    padding-left: 0;
    padding-right: 0;
  }
  .listing-box-image-rx {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: -1px -1px 0 -1px;
    height: 255px;
    overflow: hidden;
    position: relative;
  }
.btn-primary-rx {
  background-color: #fff;
  color: #000;
  border: 1px solid #d7d7d7;
}
.text-rx-dropdown {
  font-size: 14px;
  color: #353535;
}
@media (min-width: 576px){
  .form-inline .form-control-rx {
      display: inline-block;
      width: 14%;
      vertical-align: middle;
    }
}
.form-control-rx {
    background-color: #fff;
    border-radius: 2px;
    border-color: #e5e5e5;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    padding: 0 12px;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control-rx::placeholder {
  color: #c1c1c1;
}
.icon-maps {
  margin: 0px 0 0 0;
  border: 1px solid #c1c1c1;
  padding: 15px 9px 2px 2px;
}
.icon-maps-img {
  width: 21px;
  height: 22px;
  position: center;
  margin: -18px 0px 1px 7px;
}
.rx-1 {
  flex: 0 0 8.33333%;
  max-width: 9.33333%;
}
