<template>
<div class="position">
  Page Not Found
  <div>
    <router-link to="/" style="color:red;">&nbsp;Back To Home</router-link>
  </div>

  </div>
</div>

</div>
</template>
<script>

</script>
<style>
.position {
   margin-left: 780px;
   margin-top: 400px;
}
</style>