<template>
  <div class="about">
    <div class="container">
      <div class="image-baner-gallery">
        <img src="/static/assets/img/remax_footer.jpg" class="img-responsive">
      </div>
      <div class="box" v-for="about in abouts">
        <!-- <h1>{{ about.wbalTitle }}</h1> -->
        <p v-html="about.wbalContent"></p>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'about',
    data () {
      return {
        abouts: []
      }
    },
    methods: {
      fetchAbout () {
        let vm = this
        axios.get('https://www.remax.co.id/prodigy/papi/webabout')
        .then((response) => {
          vm.abouts = response.data.data
          console.log(vm.abouts)
        })
      }
    },
    created () {
      this.fetchAbout()
    }
  }
</script>
<style>

</style>