<template>
  <div>
<div class="container" style="padding-top: 26px;">
  <div class="background-search filter filter-boxed-rx  checkbox-light">

      <div class="row">
        <div class="col-sm-12 col-lg-9">
          <div class="form-group">
            <input type="text" class="form-control form-control-xl form-control-no-border" v-model="name" @keyup.enter="fetchAgent" placeholder="Search by keyword">
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col-* -->
        <div class="col-sm-12 col-lg-3">
          <div class="form-group-btn">
            <button type="submit" class="background-button-search btn btn-primary btn-block btn-xl"><i class="fa fa-search"></i>Search</button>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col-* -->
      </div>
      <!-- /.row -->

  </div>
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <!-- /.sort-options -->
      <div class="row" >
        <div class="col-md-6 col-lg-4" v-for="agent in agents">
          <div class="listing-box" v-for="member in members"  v-if="member.id == agent.id">
            <div class="listing-box-inner">
              <a href="agents-detail.html" class="listing-box-image" v-if="member.links.mmbsFile == null">
                <span class="listing-box-image-content" style="background-image: url(static/assets/img/default2.jpg)" ></span><!-- /.listing-box-image-content -->
              </a>
                <a href="agents-detail.html" class="listing-box-image" v-else>
                  <span class="listing-box-image-content" :style="{ 'background-image': 'url(' + fileMember.filePreview + ')' }" v-for="fileMember in fileMembers" v-if="member.links.mmbsFile == fileMember.id" ></span>
                </a>
              <!-- /.listing-box-image -->
                <div class="listing-box-content">
                  <h2><a href="agents-detail.html">{{ member.mmbsFirstName }}</a></h2>
                  <h3></h3>
                  <!-- /.actions -->
                </div>
              <!-- /.listing-box-content -->
              <div class="listing-box-content">
                <h3 v-if="member.mmbsEmail != null"><i class="fa fa-envelope"></i> {{ member.mmbsEmail }}</h3>
                <h3 v-else ><i class="fa fa-envelope"></i> - </h3>
                <h3 v-if="member.mmbsCellPhone1 != null"><i class="fa fa-phone"></i> {{ member.mmbsCellPhone1 }}</h3>
                <h3 v-else ><i class="fa fa-phone"></i> - </h3>
                <!-- /.actions -->
              </div>
              <!-- /.listing-box-attributes -->
            </div>
            <!-- /.listing-box-inner -->
          </div>
          <!-- /.listing-box -->
        </div>
        <!-- /.col-* -->
      </div>
      <!-- /.row -->
      <paginations :current="currentPage"
                   :perPage="perPage"
                   :total="totalAgent"
                   @page-changed="fetchMember"></paginations>
    </div>
    <!-- /.col -->
    <div class="col-md-4 col-lg-3">
      <div class="sidebar">
      <!--   <div class="widget">
          <h3 class="widgettitle">Search Site</h3>
          <div class="search">
            <form method="get" action="?">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" placeholder="Search the site" class="form-control">
              </div> -->
              <!-- /.form-group -->
          <!--   </form>
          </div> -->
          <!-- /.search -->
       <!--  </div> -->
        <!-- /.widget -->
        <!-- <div class="widget">
          <h2 class="widgettitle">Public Documents</h2>
          <div class="documents">
            <a class="document" href="#">
              <i class="fa fa-file-image-o"></i> <span>Image Gallery</span>
            </a>
            <a class="document" href="#">
              <i class="fa fa-file-excel-o"></i> <span>Detailed Pricing</span>
            </a>
            <a class="document" href="#">
              <i class="fa fa-file-pdf-o"></i> <span>Download Floor Plans</span>
            </a>
          </div> -->
          <!-- /.documents -->
        <!-- </div> -->
        <div class="widget">
        <h3 class="widgettitle">Top Agents</h3>
        <div v-for="topAgent in topAgents">
          <div class="listing-row-medium">
            <div class="listing-row-medium-inner">
              <!-- <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-12.jpg);">
              </a>
              <div class="listing-row-mediumedium-content"> -->
              <!-- <a class="listing-row-medium-price" href="listings-detail.html">$533.00</a>
              <a class="listing-row-medium-category tag" href="listings-detail.html"></a>
              <h4 class="listing-row-medium-title"><a href="listings-detail.html">@{{ agent.mmbsFirstName }}</a></h4>
              <div class="listing-row-medium-address">

              </div> -->
              <div class="listing-user">
                <a href="#" v-if="topAgent.links.mmbsFile != null" class="listing-row-medium-image" :style="{ 'background-image': 'url(' + imageUri + topAgent.mmbsFile + ')'}"></a>
                <a href="#" v-else class="listing-row-medium-image" style="background-image: url('/static/assets/img/default2.jpg')"></a>
                <div class="listing-user-title">
                  <a class="listing-row-medium-category tag" href="listings-detail.html">Agent</a>
                  <h2>{{ topAgent.mmbsFirstName }}</h2><br>

                  <!-- <h3>Senior Directory Manager</h3> -->
                </div>
                <!-- /.listing-user-title -->
              </div>
              <!-- /.listing-row-medium-address -->
            </div>
            <!-- /.listing-row-medium-content -->
          </div>
          <!-- /.listing-row-medium-inner -->
        </div>
        <!-- /.listings-row-medium -->
      </div>
        <!-- /.widget -->
        <!-- <div class="widget">
          <h2 class="widgettitle">Contact Information</h2>
          <table class="contact">
            <tbody>
              <tr>
                <th>Address:</th>
                <td>2300 Main Ave.<br>
                  Lost Angeles, CA 23123<br>
                  United States<br>
                </td>
              </tr>
              <tr>
                <th>Phone:</th>
                <td>+0-123-456-789</td>
              </tr>
              <tr>
                <th>E-mail:</th>
                <td><a href="mailto:info@example.com">info@example.com</a></td>
              </tr>
              <tr>
                <th>Skype:</th>
                <td>your.company</td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <!-- /.widget -->
      </div>
      <!-- /.sidebar -->
    </div>
    <!-- /.col-* -->
  </div>
  <!-- /.row -->
</div>
  </div>
</template>
<script>
  import AutoComplete from 'vue2-autocomplete-js'
  import axios from 'axios'
  import paginations from '@/components/Pagination.vue'
  export default {
    components: {
      paginations,
      AutoComplete
    },
    data () {
      return {
        topAgents: [],
        fileMembers: [],
        members: [],
        agents: [],
        name: '',
        franchises: [],
        totalAgent: 0,
        perPage: 6,
        currentPage: 1
      }
    },
    methods: {
      fetchTop () {
        let vm = this
        axios.get('https://www.remax.co.id/prodigy/papi/membershiptop')
          .then((response) => {
            if (response.data.data === null) {
            } else {
              vm.topAgents = response.data.data
            }
          })
          .catch((e) => {
          })
      },
      fetchAgent (page) {
        let vm = this
//        let options = {
//          params: {
//            pageNumber: page,
//            pageSize: vm.perPage
//          }
//        }
        axios.get('https://www.remax.co.id/prodigy/papi/membership?filter[mmbsFirstName]=' + '%27' + '%' + vm.name + '%' + '%27')
          .then((response) => {
            console.log(response)
            if (response.data.data === null) {
            } else {
              vm.members = response.data.data
              vm.fileMembers = response.data.linked.mmbsFile
            }
          })
          .catch((e) => {
          })
      },
      fetchMember (page) {
        let vm = this
        function fetchFranchise () {
          let host = location.host.split('.')
          let domain = host.shift()
          return new Promise((resolve, reject) => {
            axios.get('https://www.remax.co.id/prodigy/papi/franchise?filter[frofOfficeName]=' + '%27' + domain + '%27').then((result) => {
              resolve(result)
            })
            .catch((e) => {
            })
          })
        }
        fetchFranchise()
        .then((response) => {
          vm.franchise = response.data.data
//          console.log(vm.franchise)
          let options = {
            params: {
              pageNumber: page,
              pageSize: vm.perPage
            }
          }
          axios.get('https://www.remax.co.id/prodigy/papi/membershipfranchise?filter[msfcFrofId]=' + response.data.data[0]['id'], options).then((results) => {
            vm.agents = results.data.linked.msfcMmbsId
            vm.totalAgent = results.data.status.totalRecords
            vm.currentPage = page
          })
        })
          .catch((e) => {
          })
      }
    },
    created () {
      this.fetchMember()
      this.fetchAgent()
      this.fetchTop()
    }
  }
</script>
<style>

</style>
