<template>
  <div class="contact">
    <div class="container">
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Home</a>
                <a class="breadcrumb-item" href="#">Library</a>
                <a class="breadcrumb-item" href="#">Data</a>
                <span class="breadcrumb-item active">Bootstrap</span>
              </nav>
              <!-- /.row -->
              <div class="background-white p30 mt30 mb30" >
                 <mapContact></mapContact>
              </div>
              <h3>Send Us A Message</h3>
              <div class="contact-form-wrapper mb80">
                <form class="contact-form" method="post" action="?">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="contact-form-name">Name</label>
                        <input type="text" name="name" id="contact-form-name" class="form-control">
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="contact-form-subject">Subject</label>
                        <input type="text" name="subject" id="contact-form-subject" class="form-control">
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="contact-form-email">E-mail</label>
                        <input type="text" name="email" id="contact-form-email" class="form-control">
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col-* -->
                  </div>
                  <!-- /.row -->
                  <div class="form-group">
                    <label for="contact-form-message">Message</label>
                    <textarea class="form-control" id="contact-form-message" rows="6"></textarea>
                  </div>
                  <!-- /.form-group -->
                  <div class="clearfix">
                    <button class="btn btn-primary pull-right">Post Message</button>
                  </div>
                  <!-- /.clearfix -->
                </form>
                <!-- /.contact-form -->
              </div>
              <!-- /.contact-form-wrapper -->
            </div>
  </div>
</template>
<script>
  /* eslint-disable no-undef */
  import axios from 'axios'
  import mapContact from '@/components/mapContact'
  export default {
    name: 'contact',
    components: {
      mapContact
    },
    data () {
      return {
        companys: []
      }
    },
    methods: {
      fetchCompany () {
        let vm = this
        axios.get('https://www.remax.co.id/prodigy/papi/company')
        .then((response) => {
          vm.companys = response.data.data
          // console.log(vm.companys)
        })
      }
    },
    created () {
      this.fetchCompany()
    }
  }
</script>
<style>

</style>
