<template>
 <div class="container">
  <div class="image-baner-gallery">
    <img src="/static/assets/img/GALLERY_HEADER.jpg" class="img-responsive">
  </div>
  <nav class="breadcrumb-rm">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item"><router-link to="/albums">Album</router-link></a>
    <span class="breadcrumb-item active">Detail</span>
  </nav>
  <div class="row" id="js-lightga llery" >
      <div class="col-md-6 col-lg-4" v-if="fileGallerys == null" v-for="gallery in galleryDetail">
        <div class="listing-box">
          <div class="listing-box-inner">  
            <a :href="'https://www.youtube.com/watch?v=' + gallery.wbgaUrlYoutube " :data-poster="'http://img.youtube.com/vi/' + gallery.wbgaUrlYoutube + '/maxresdefault.jpg'" class="listing-box-image">
            <div class="listing-box-image-content">
                <img v-lazy="imgUrl" class="lazy" :data-original="'http://img.youtube.com/vi/' + gallery.wbgaUrlYoutube + '/maxresdefault.jpg'" :data-srcset="'http://img.youtube.com/vi/' + gallery.wbgaUrlYoutube + '/maxresdefault.jpg'" />
            </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" v-for="fileGallery in fileGallerys">
        <div class="listing-box">
          <div class="listing-box-inner">  
            <a :href="imgUri + fileGallery.filePreview" data-pinterest-text="Pin it" data-tweet-text="Tweet it" data-facebook-text="Share It" class="listing-box-image">
              <div class="listing-box-image-content">
                  <img v-lazy="imgUrl"  :data-original="imgUri + fileGallery.filePreview" :data-srcset="imgUri + fileGallery.filePreview">
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-4" v-for="gallery in galleryDetail" v-if="null === gallery.wbgaUrlYoutube">
        <div class="listing-box">
          <div class="listing-box-inner">
            <a :href="'https://www.youtube.com/watch?v=' + gallery.wbgaUrlYoutube " :data-poster="'http://img.youtube.com/vi/' + gallery.wbgaUrlYoutube + '/maxresdefault.jpg'" class="listing-box-image">
              <div class="listing-box-image-content">
                  <img class="lazy" :data-original="'http://img.youtube.com/vi/' + gallery.wbgaUrlYoutube + '/maxresdefault.jpg'" :src="'http://img.youtube.com/vi/' + gallery.wbgaUrlYoutube + '/maxresdefault.jpg'" />
              </div>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'Gallerydetail',
    data () {
      return {
        imgObj: {
          src: 'http://xx.com/logo.png',
          error: 'http://xx.com/error.png',
          loading: 'http://xx.com/loading-spin.svg'
        },
        imgUrl: 'http://xx.com/logo.png',
        galleryDetail: [],
        fileGallerys: [],
        imgUri: 'https://www.remax.co.id/prodigy/papi/'
      }
    },
    methods: {
      fecthGallery () {
        let vm = this
        let id = parseInt(vm.$route.params.id)
        axios.get('https://www.remax.co.id/prodigy/papi/webgallerydetail?filter[wbgaWbgyId]=' + id).then((response) => {
          if (response.data.data === null) {
          } else {
            vm.galleryDetail = response.data.data
            vm.fileGallerys = response.data.linked.wbgaFileId
            return vm.fileGallerys
          }
        })
      }
    },
    created () {
      this.fecthGallery()
    }
  }
</script>
<style>
  
</style>