<template>
<div class="container">
  <div class="image-baner-gallery">
    <img src="/static/assets/img/GALLERY_HEADER.jpg" class="img-responsive">
  </div>
  <nav class="breadcrumb-rm">
    <a class="breadcrumb-item" href="#">Home</a>
    <span class="breadcrumb-item active">Album</span>
  </nav>
  <div class="row" >
    <div class="col-md-6 col-lg-4" v-for="gallery in gallerys">
      <div class="listing-box">
        <div class="listing-box-inner">
          <a class="listing-box-image"><router-link :to="{name: 'Gallerydetail', params: {id: gallery.id}}">
          <div class="listing-box-image-content" v-if="gallery.links.wbgyFileId != null">
              <span class="text-in-image">{{ gallery.wbgyTitle }}</span>
              <span class="text-in-image-2">{{ gallery.wbgyDate | moment }}</span>
              <img v-lazy="imgUrl"  :data-srcset="imgUri + galleryFile.filePreview" v-for="galleryFile in galleryFiles" v-if="galleryFile.id == gallery.links.wbgyFileId">
          </div>
          <div class="listing-box-image-content" v-else>
              <span class="text-in-image">{{ gallery.wbgyTitle }}</span>
              <span class="text-in-image-2">{{ gallery.wbgyDate | moment }}</span>
              <img v-lazy="imgUrl"  data-srcset="http://img.youtube.com/vi/cHVGWCmMgiw/maxresdefault.jpg">
          </div>
          </router-link>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  import moment from 'moment'
  import axios from 'axios'
  export default {
    name: 'gallery',
    data () {
      return {
        imgObj: {
          src: 'http://xx.com/logo.png',
          error: 'http://xx.com/error.png',
          loading: 'http://xx.com/loading-spin.svg'
        },
        imgUrl: 'http://xx.com/logo.png',
        gallerys: [],
        galleryFiles: [],
        imgUri: 'https://www.remax.co.id/prodigy/papi/'
      }
    },
    methods: {
      moment (date) {
        return moment(date)
      },
      fetchGellery () {
        let vm = this
        axios.get('https://www.remax.co.id/prodigy/papi/webgallery')
        .then((response) => {
          if (response.data.data === null) {
          } else {
            vm.gallerys = response.data.data
            vm.galleryFiles = response.data.linked.wbgyFileId
          }
        })
        .catch((e) => {
          // console.log(e)
        })
      }
    },
    created () {
      this.fetchGellery()
    },
    filters: {
      moment (date) {
        return moment(date).format('DD MMMM YYYY')
      }
    }
  }
</script>
<style>

</style>
