<template>
  <div class="hello">
    <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <!-- /.page-title -->
            <div class="container">
              <div class="row">
                <div class="listing-detail col-md-8 col-lg-9">
                <div v-for="banner in banners">
                  <div class="listing-use" v-if="banner.links.wbanFileId == null">
                    <img src="/static/assets/img/default.jpg" class="baner-image">
                  </div>
                </div>
                <div v-for="bannerImage in bannersImage">
                  <div class="listing-user">
                    <img src="/static/assets/img/default.jpg" class="baner-image" v-if="errors == 404">
                    <img :src="imageUri + bannerImage.filePreview" class="baner-image" v-else>
                  </div>
                </div>
                  <!-- /.listing-user -->
                  <div class="row" v-for="franchise in franchises">
                    <div class="col-lg-5">
                      <div class="overview">
                        <h3 class="page-title-small">Information</h3>
                        <ul >
                          <li><strong>Name</strong><span>{{ franchise.frofOfficeName }}</span></li>
                          <li><strong>Phone</strong><span>{{ franchise.frofPhone1 }}</span></li>
                          <li><strong>Fax</strong><span>{{ franchise.frofFax }}</span></li>
                          <li><strong>E-mail</strong><span><a href="#">{{ franchise.frofEmail }}</a></span></li>
                          <li><strong>Address</strong><span><a href="#">{{ franchise.frofAddress }}</a></span></li>
                        </ul>
                      </div>
                      <!-- /.overview -->
                    </div>
                    <!-- col-* -->
                    <div class="col-lg-7">
                      <h3 class="page-title-small">About Remax {{ franchise.frofOfficeName }}</h3>
                      <p class="mb30">
                        -
                      </p>
                    </div>
                    <!-- /.col-* -->
                  </div>
                  <!-- /.row -->
                  <!-- /.box --><br>
                  <h3 class="page-title-small">Porperties Listing</h3>
                  <div class="row">
                    <div v-if="status == true">
                    <div style="margin-left:308px;">
                      <img src="/static/assets/img/Ripple.svg" alt="">
                      <p align="center">Loading...</p>
                    </div>
                    </div>
                      <div v-if="error == true">
                         <p>property not found</p>
                      </div>
                      <div class="col-md-6 col-lg-4" v-for="property in properties">
                        <div class="listing-box">
                          <div class="listing-box-inner">
                            <span v-if="property.links.listListingCategoryId == 1" class="listing-box-featured">For Sale</span>
                            <span v-if="property.links.listListingCategoryId == 2" class="listing-box-featured-blue">For Rent</span>
                            <span v-if="property.links.listListingCategoryId == null "></span>
                            <a href="listings-detail.html" class="listing-box-image">
                            <span v-if="property.links.listFile" >
                             <span class="listing-box-image-content" :style="{ 'background-image': 'url(' + imageUri + file.filePreview + ')' }" v-for="file in images" v-if="file.id == property.links.listFile[0]">
                             </span>
                            </span>
                             <span v-else class="listing-box-image-content" style="background-image: url('/static/assets/img/default.jpg')"></span>
                              <span class="listing-box-category tag price-size" v-if="property.listListingPrice != null">{{ formatRp(property.listListingPrice) }}</span>
                              <span class="listing-box-category tag price-size" v-else> - </span>
                        <!--       <span class="listing-box-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                              </span> -->
                              </a><!-- /.listing-box-image -->
                              <div class="listing-box-content">
                                <h2 v-if="property.listTitle != null"><a href="listings-detail.html">{{ property.listTitle }}</a></h2>
                                <h2 v-else><a href="listings-detail.html">{{ property.listTitle }}</a></h2>
                              <div v-for="city in citys">
                                <h3 v-if="city.id == property.links.listCityId"><i class="fa fa-map-marker"></i> {{ city.mctyDescription }} {{ property.listStreetName }}</h3>
                              </div>

                              <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-content -->
                             <div class="listing-box-content">
                              <h3 v-if="property.listDescription != null"> {{ property.listDescription }}</h3>
                              <h3 v-else > - </h3>
                              <!-- /.actions -->
                            </div>
                            <!-- /.listing-box-attributes -->
                            <div class="listing-box-attributes-icons">
                              <ul>
                                <li v-if="property.listLandSize"><i class="fa fa-arrows"></i> <span>{{ property.listLandSize }}</span></li>
                                <li v-if="property.listBathroom"><i class="fa fa-shower"></i> <span>{{ property.listBathroom }}</span></li>
                                <li v-if="property.listBuildingSize"><i class="fa fa-home"></i> <span>{{ property.listBuildingSize }}</span>
                                <li v-if="property.listBedroom"><i class="fa fa-bed"></i> <span>{{ property.listBedroom }}</span>
                                </li>
                              </ul>
                            </div>
                            <!-- /.listing-box-attributes -->
                          </div>
                          <!-- /.listing-box-inner -->
                        </div>
                        <!-- /.listing-box -->
                      </div>
                    <!-- /.col-* -->
                  </div>
                  <!-- /.row -->
                  <paginations :current="currentPage"
                               :perPage="perPage"
                               :total="totalProperty"
                               @page-changed="fetchProperty"></paginations>
                </div>
                <div class="col-md-4 col-lg-3">
                  <div class="sidebar">
                    <!-- <div class="widget">
                      <h3 class="widgettitle">Search Site</h3>
                      <div class="search">
                        <form method="get" action="?">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search the site" class="form-control">
                          </div> -->
                          <!-- /.form-group -->
                        <!-- </form> -->
                      <!-- </div> -->
                      <!-- /.search -->
                    <!-- </div> -->
                    <!-- /.widget -->
                    <!-- <div class="widget">
                      <h2 class="widgettitle">Public Documents</h2>
                      <div class="documents">
                        <a class="document" href="#">
                          <i class="fa fa-file-image-o"></i> <span>Image Gallery</span>
                        </a>
                        <a class="document" href="#">
                          <i class="fa fa-file-excel-o"></i> <span>Detailed Pricing</span>
                        </a>
                        <a class="document" href="#">
                          <i class="fa fa-file-pdf-o"></i> <span>Download Floor Plans</span>
                        </a>
                      </div> -->
                      <!-- /.documents -->
                    <!-- </div> -->
                    <div class="widget">
                      <h3 class="widgettitle">Top Agents</h3>
                      <div v-for="topAgent in topAgents">
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <!-- <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-12.jpg);">
                            </a>
                            <div class="listing-row-mediumedium-content"> -->
                              <!-- <a class="listing-row-medium-price" href="listings-detail.html">$533.00</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html"></a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">@{{ agent.mmbsFirstName }}</a></h4>
                              <div class="listing-row-medium-address">

                              </div> -->
                              <div class="listing-user">
                                <a href="#" v-if="topAgent.links.mmbsFile != null" class="listing-row-medium-image" :style="{ 'background-image': 'url(' + imageUri + topAgent.mmbsFile + ')'}"></a>
                                <a href="#" v-else class="listing-row-medium-image" style="background-image: url('/static/assets/img/default2.jpg')"></a>
                                <div class="listing-user-title">
                                <a class="listing-row-medium-category tag" href="listings-detail.html">Agent</a>
                                  <h2>{{ topAgent.mmbsFirstName }}</h2><br>

                                  <!-- <h3>Senior Directory Manager</h3> -->
                                </div>
                                <!-- /.listing-user-title -->
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                      </div>
                    </div>
                    <!-- /.widget -->
                    <!-- <div class="widget">
                      <h2 class="widgettitle">Contact Information</h2>
                      <table class="contact">
                        <tbody>
                          <tr>
                            <th>Address:</th>
                            <td>2300 Main Ave.<br>
                              Lost Angeles, CA 23123<br>
                              United States<br>
                            </td>
                          </tr>
                          <tr>
                            <th>Phone:</th>
                            <td>+0-123-456-789</td>
                          </tr>
                          <tr>
                            <th>E-mail:</th>
                            <td><a href="mailto:info@example.com">info@example.com</a></td>
                          </tr>
                          <tr>
                            <th>Skype:</th>
                            <td>your.company</td>
                          </tr>
                        </tbody>
                      </table>
                    </div> -->
                    <!-- /.widget -->
                  </div>
                  <!-- /.sidebar -->
                </div>
                <div class="listing-detail col-md-8 col-lg-9">
                  <!-- /.listing-user -->
                  <!-- /.row -->
                  <div class="box">
                    <div class="box-inner">
                      <div class="box-title">
                        <h2>Contact Information</h2>
                      </div>
                      <!-- /.box-title -->
                      <form method="post" action="?">
                        <div class="row">
                          <div class="col-sm-5">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                              <label>E-mail</label>
                              <input type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                              <label>Subject</label>
                              <input type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->
                          <div class="col-sm-7">
                            <div class="form-group">
                              <label>Message</label>
                              <textarea class="form-control" rows="10" placeholder="Please keep your message as simple as possible."></textarea>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-* -->
                          <div class="col-sm-12">
                            <div class="form-group-btn">
                              <button class="btn btn-primary pull-right">Send Message</button>
                            </div>
                            <!-- /.form-group-btn -->
                          </div>
                          <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                      </form>
                    </div>
                    <!-- /.box-inner -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.main-inner -->
        </div>
  </div>
</template>
<script>
import axios from 'axios'
import Spinner from 'vue-simple-spinner'
import paginations from '@/components/Pagination.vue'
export default {
  name: 'home',
  components: {
    Spinner,
    paginations
  },
  data () {
    return {
      properties: [],
      files: [],
      images: [],
      errors: [],
      bannersImage: [],
      banners: [],
      franchises: [],
      status: true,
      totalProperty: 0,
      error: false,
      perPage: 9,
      citys: [],
      currentPage: 1,
      topAgents: [],
      imageUri: 'https://www.remax.co.id/prodigy/papi/'
    }
  },
  methods: {
    fetchTopagent () {
      let vm = this
      axios.get('https://www.remax.co.id/prodigy/papi/membershiptop')
      .then((response) => {
        vm.topAgents = response.data.data
        // console.log(vm.topAgents)
      })
    },
    fetchProperty (page) {
      let vm = this
      function fetchFranchise () {
        return new Promise((resolve, reject) => {
          let host = location.host.split('.')
          let domain = host.shift()
          axios.get('https://www.remax.co.id/prodigy/papi/franchise?filter[frofOfficeName]=' + '%27' + domain + '%27').then((result) => {
            if (result.data.data === null) {
            } else {
              resolve(result)
            }
          })
        })
      }
      fetchFranchise()
      .then((response) => {
        vm.franchises = response.data.data
        let options = {
          params: {
            pageNumber: page,
            pageSize: vm.perPage
          }
        }
        axios.get('https://www.remax.co.id/prodigy/papi/listing&filter[listOfficeId]=' + response.data.data[0]['id'], options)
      .then((response) => {
        // console.log(response)
        if (response.data.data === null) {
        } else {
          vm.status = false
          vm.properties = response.data.data
          vm.citys = response.data.linked.listCityId
          // console.log(vm.citys)
          vm.file = response.data.linked.listFile
          vm.currentPage = page
          vm.totalProperty = response.data.status.totalRecords
          return vm.file
        }
      })
      .then((results) => {
        vm.images = results
      })
      })
      .catch((e) => {
      })
      fetchFranchise()
      .then((response) => {
        function getBaner () {
          return new Promise((resolve, reject) => {
            axios.get('https://www.remax.co.id/prodigy/papi/webbanner?filter[wbanFrofId]=' + response.data.data[0]['id']).then((result) => {
              resolve(result)
            })
          })
        }
        getBaner()
        .then((results) => {
          vm.banners = results.data.data
          vm.bannersImage = results.data.linked.wbanFileId
          axios.get(vm.imageUri + results.data.linked.wbanFileId[0]['filePreview'])
          .then((response) => {
          })
          .catch((e) => {
            vm.errors = e.response.status
          })
        })
      })
    },
    formatRp (value) {
      let x = value
      if (x >= 1000000000000) {
        x = Math.round((x / 1000000000000)).toFixed(0)
        x = 'Rp.' + ' ' + x.toString().replace(/\./g, ',') + ' T'
      } else if (x >= 1000000000) {
        x = Math.round((x / 1000000000)).toFixed(0)
        x = 'Rp.' + ' ' + x.toString().replace(/\./g, ',') + ' M'
      } else if (x >= 1000000) {
        x = Math.round((x / 1000000)).toFixed(0)
        x = 'Rp.' + ' ' + x.toString().replace(/\./g, ',') + ' Jt'
      } else if (x > 0) {
        x = Math.round((x / 1000)).toFixed(0)
        x = 'Rp.' + ' ' + x.toString().replace(/\./g, ',') + ' Rb'
      } else {
        x = 'Rp.' + ' ' + x.toString().replace(/\./g, ',') + ''
      }
      return x
    }
  },
  created () {
    this.fetchProperty()
    this.fetchTopagent()
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.listing-box-image-content1 {
    background-color: rgba(50, 50, 50, 0.25);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
</style>
