<template>
  <div id="map2" style="height:400px;width:100%;"></div>
</template>
<script>
import axios from 'axios'
import GoogleMapsLoader from 'google-maps'
GoogleMapsLoader.KEY = 'AIzaSyBt6Pwo89NTFbXWEtrcEsL14M6af-gSjfQ'
export default {
  data () {
    return {
      company: []
    }
  },
  methods: {
    createMap () {
      function fetchCompany () {
        return new Promise((resolve, reject) => {
          axios.get('https://www.remax.co.id/prodigy/papi/company')
          .then((result) => {
            resolve(result)
          })
          .catch((e) => {
          })
        })
      }
      fetchCompany()
      .then((response) => {
        console.log(response.data.data)
        GoogleMapsLoader.load(function (google) {
          let latlng = { lat: -6.225673, lng: 106.808481 }
          let options = {
            center: latlng,
            zoom: 14
          }
          let map = new google.maps.Map(document.getElementById('map2'), options)
          // map.set('styles', [
          //   {
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#f5f5f5'
          //       }
          //     ]
          //   },
          //   {
          //     'elementType': 'labels.icon',
          //     'stylers': [
          //       {
          //         'visibility': 'off'
          //       }
          //     ]
          //   },
          //   {
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#616161'
          //       }
          //     ]
          //   },
          //   {
          //     'elementType': 'labels.text.stroke',
          //     'stylers': [
          //       {
          //         'color': '#f5f5f5'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'administrative.land_parcel',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#bdbdbd'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'poi',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#eeeeee'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'poi',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#757575'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'poi.park',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#e5e5e5'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'poi.park',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#9e9e9e'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'road',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#ffffff'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'road.arterial',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#757575'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'road.highway',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#dadada'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'road.highway',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#616161'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'road.local',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#9e9e9e'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'transit.line',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#e5e5e5'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'transit.station',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#eeeeee'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'water',
          //     'elementType': 'geometry',
          //     'stylers': [
          //       {
          //         'color': '#c9c9c9'
          //       }
          //     ]
          //   },
          //   {
          //     'featureType': 'water',
          //     'elementType': 'labels.text.fill',
          //     'stylers': [
          //       {
          //         'color': '#9e9e9e'
          //       }
          //     ]
          //   }
          // ])
          let icon = { url: '/static/assets/img/new-map-marker.png',
            scaledSize: new google.maps.Size(40, 40),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 0)
          }
          let marker = new google.maps.Marker({
            position: latlng,
            map: map,
            icon: icon
          })
          var iw1 = new google.maps.InfoWindow({
            content: '<h4 style="color:red;font-weight:bold;">' + response.data.data[0]['compName'] + '</h4>' + '<p style="color:#000"><i class="fa fa-phone"></i> ' + response.data.data[0]['compPhone1'] + '</p>' + '<p style="color:#000"><i class="fa fa-fax"></i> ' + response.data.data[0]['compFax1'] + '</p>' + '<a href="#"><i class="fa fa-envelope"></i> ' + response.data.data[0]['compEmail'] + '</a>'
          })
          google.maps.event.addListener(marker, 'click', function (e) { iw1.open(map, this) })
        })
      })
    }
  },
  created () {
    this.createMap()
  }
}
</script>