<template>
<div class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Home</a>
    <a class="breadcrumb-item" href="#">Library</a>
    <a class="breadcrumb-item" href="#">Data</a>
    <span class="breadcrumb-item active">Bootstrap</span>
  </nav>
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="row">
        <div class="col-sm-4" v-for="news in newsS">
          <div class="post-small">
            <div class="post-small-image">
              <a ><router-link :to="{name: 'Newsdetail', params: {id: news.id}}">
                <img :src="imgUri + newsImage.filePreview" alt="" v-for="newsImage in newsImages" v-if="newsImage.id == news.links.wbneFileId ">
                </router-link>
              </a>
               <a ><router-link :to="{name: 'Newsdetail', params: {id: news.id}}">
                <img src="/static/assets/img/default.jpg" alt="" v-if="news.links.wbneFileId == null">
                  </router-link>
              </a>
            </div>
            <!-- /.post-small-image -->
            <h3><a href="#">{{ news.wbnlTitle }}</a></h3>
            <div class="post-small-attribute">
              {{ news.wbnlCreatedTime }}
            </div>
            <!-- /.post-small-attribute -->
            <p v-html="$options.filters.truncates(news.wbnlContent)">
            </p>
            <a href="#" class="btn btn-simple">Read Post</a>
          </div>
          <!-- /.post-small -->
        </div>
        <!-- /.col-* -->
      </div>
      <!-- /.row -->
        <paginations :current="currentPage"
                     :perPage="perPage"
                     :total="totalNews"
                     @page-changed="fetchNews"></paginations>
    </div>
    <!-- /.col-* -->
    <div class="col-md-4 col-lg-3">
      <div class="sidebar">
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widgettitle">Recent Listings</h3>
          <div>
            <div class="listing-row-medium">
              <div class="listing-row-medium-inner">
                <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(/static/assets/img/default.jpg);">
                </a>
                <div class="listing-row-medium-content">
                  <a class="listing-row-medium-price" href="listings-detail.html">$64.60</a>
                  <a class="listing-row-medium-category tag" href="listings-detail.html">Greenpeace</a>
                  <h4 class="listing-row-medium-title"><a href="listings-detail.html">Photo Services</a></h4>
                  <div class="listing-row-medium-address">
                    3074 Asylum Avenue Danbury
                  </div>
                  <!-- /.listing-row-medium-address -->
                </div>
                <!-- /.listing-row-medium-content -->
              </div>
              <!-- /.listing-row-medium-inner -->
            </div>
            <!-- /.listings-row-medium -->
            <div class="listing-row-medium">
              <div class="listing-row-medium-inner">
                <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(/static/assets/img/default.jpg);">
                </a>
                <div class="listing-row-medium-content">
                  <a class="listing-row-medium-price" href="listings-detail.html">$20.90</a>
                  <a class="listing-row-medium-category tag" href="listings-detail.html">Workshops</a>
                  <h4 class="listing-row-medium-title"><a href="listings-detail.html">Lafayette Radio</a></h4>
                  <div class="listing-row-medium-address">
                    2374 Lucy Lane Evansville
                  </div>
                  <!-- /.listing-row-medium-address -->
                </div>
                <!-- /.listing-row-medium-content -->
              </div>
              <!-- /.listing-row-medium-inner -->
            </div>
            <!-- /.listings-row-medium -->
            <div class="listing-row-medium">
              <div class="listing-row-medium-inner">
                <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(/static/assets/img/default.jpg);">
                </a>
                <div class="listing-row-medium-content">
                  <a class="listing-row-medium-price" href="listings-detail.html">$76.90</a>
                  <a class="listing-row-medium-category tag" href="listings-detail.html">Museum</a>
                  <h4 class="listing-row-medium-title"><a href="listings-detail.html">Erb Lumber</a></h4>
                  <div class="listing-row-medium-address">
                    2155 Philli Lane Mcalester
                  </div>
                  <!-- /.listing-row-medium-address -->
                </div>
                <!-- /.listing-row-medium-content -->
              </div>
              <!-- /.listing-row-medium-inner -->
            </div>
            <!-- /.listings-row-medium -->
            <div class="listing-row-medium">
              <div class="listing-row-medium-inner">
                <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(/static/assets/img/default.jpg);">
                </a>
                <div class="listing-row-medium-content">
                  <a class="listing-row-medium-price" href="listings-detail.html">$19.49</a>
                  <a class="listing-row-medium-category tag" href="listings-detail.html">Mechanics</a>
                  <h4 class="listing-row-medium-title"><a href="listings-detail.html">Skateshop</a></h4>
                  <div class="listing-row-medium-address">
                    3298 Lewis Street Downers Grove
                  </div>
                  <!-- /.listing-row-medium-address -->
                </div>
                <!-- /.listing-row-mediumedium-content -->
              </div>
              <!-- /.listing-row-medium-inner -->
            </div>
            <!-- /.listings-row-medium -->
          </div>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.sidebar -->
    </div>
    <!-- /.col-* -->
  </div>
  <!-- /.row -->
</div>
</template>
<script>
  import paginations from '@/components/Pagination.vue'
  import axios from 'axios'
  import Vue from 'vue'
  var vueFilter = require('vue-filter')
  Vue.use(vueFilter)
  export default {
    name: 'news',
    components: {
      paginations
    },
    data () {
      return {
        newsS: [],
        newsImages: [],
        currentPage: 1,
        totalNews: 0,
        perPage: 6,
        imgUri: 'https://www.remax.co.id/prodigy/papi/'
      }
    },
    methods: {
      fetchNews (page) {
        let vm = this
        let options = {
          params: {
            pageNumber: page,
            pageSize: vm.perPage
          }
        }
        axios.get('https://www.remax.co.id/prodigy/papi/webnews', options)
        .then((response) => {
          console.log(response)
          if (response.data.data == null) {
          } else {
            vm.newsS = response.data.data
            vm.newsImages = response.data.linked.wbneFileId
            vm.currentPage = page
            vm.totalNews = response.data.status.totalRecords
          }
        })
        .catch((e) => {
          console.log(e)
        })
      }
    },
    filters: {
      truncates: function (string, value) {
        return string.substring(0, 200) + '...'
      }
    },
    created () {
      this.fetchNews()
    }
  }
</script>
<style>
  
</style>