<template>
  <div class="container">
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Home</a>
                <a class="breadcrumb-item" href="#">Library</a>
                <a class="breadcrumb-item" href="#">Data</a>
                <span class="breadcrumb-item active">Bootstrap</span>
              </nav>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <div class="post-detail">
                    <h3>
                      <img class="alignleft" :src="imgUri + fileDetailNews.filePreview" alt="" width="301" height="201" v-if="detailNews.links.wbneFileId">
                      <img class="alignleft" src="/static/assets/img/default.jpg" alt="" width="301" height="201" v-else>{{ detailNews.wbnlTitle.en }}
                    </h3>
                    <p v-html="detailNews.wbnlContent.en" style="color:#000"></p>
                  
                    <!-- /.author --> 
                  </div>
                  <!-- /.post-detail -->
                </div>
                <!-- /.col-* -->
                <div class="col-md-4 col-lg-3">
                  <div class="sidebar">
                    <!-- /.widget -->
                    <div class="widget">
                      <h3 class="widgettitle">Recent Listings</h3>
                      <div>
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-3.jpg);">
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-price" href="listings-detail.html">$99.90</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Courses</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">Delicious Ocean Restaurant</a></h4>
                              <div class="listing-row-medium-address">
                                3827 Sycamore Lake Road Fremont
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-10.jpg);">
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-price" href="listings-detail.html">$7.90</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Music</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">Nightlife Party Club</a></h4>
                              <div class="listing-row-medium-address">
                                1542 Rocket Drive Minneapolis
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-5.jpg);">
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-price" href="listings-detail.html">$54.00</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Education</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">London Trip</a></h4>
                              <div class="listing-row-medium-address">
                                1464 Briercliff Road Bronx
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                        <div class="listing-row-medium">
                          <div class="listing-row-medium-inner">
                            <a href="listings-detail.html" class="listing-row-medium-image" style="background-image: url(assets/img/tmp/listing-24.jpg);">
                            </a>
                            <div class="listing-row-medium-content">
                              <a class="listing-row-medium-price" href="listings-detail.html">$923.00</a>
                              <a class="listing-row-medium-category tag" href="listings-detail.html">Business</a>
                              <h4 class="listing-row-medium-title"><a href="listings-detail.html">Little Tavern</a></h4>
                              <div class="listing-row-medium-address">
                                2164 Hilltop Haven Drive Newark
                              </div>
                              <!-- /.listing-row-medium-address -->
                            </div>
                            <!-- /.listing-row-medium-content -->
                          </div>
                          <!-- /.listing-row-medium-inner -->
                        </div>
                        <!-- /.listings-row-medium -->
                      </div>
                    </div>
                    <!-- /.widget -->
                    
                    <!-- /.widget -->
                  </div>
                  <!-- /.sidebar -->
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
</template>
<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        detailNews: [],
        fileDetailNews: [],
        imgUri: 'https://www.remax.co.id/prodigy/papi/'
      }
    },
    methods: {
      fetchNewsDetail () {
        let vm = this
        let id = parseInt(this.$route.params.id)
        axios.get('https://www.remax.co.id/prodigy/papi/webnews/' + id)
        .then((response) => {
          if (response.data.data === null) {
            vm.fileDetailNews = []
          } else {
            vm.detailNews = response.data.data
            vm.fileDetailNews = response.data.linked.wbneFileId
          }
        })
        .catch((e) => {
          console.log(e)
        })
      }
    },
    created () {
      this.fetchNewsDetail()
    }
  }
</script>
<style>
  
</style>
