<template>
<div class="paginations ">
 <ul class="pagination pull-right ">
    <li class="page-item"><button class="page-link"  v-if="hasPrev()" @click="changePage(prevPage)">Previous</button></li>
      <li v-for="page in pages" :class="'page-item' + { 'active': current == page }">
        <button class="page-link" @click="changePage(page)">{{ page }}</button>
      </li>
    <li class="page-item"><button class="page-link"  v-if="hasNext()" @click="changePage(nextPage)">Next</button></li>
  </ul>
</ul>
</div>
</template>
<script>
  export default {
    name: 'paginations',
    props: {
      current: {
        type: Number,
        default: 1
      },
      total: {
        type: Number,
        default: 0
      },
      perPage: {
        type: Number,
        default: 9
      },
      pageRange: {
        type: Number,
        default: 2
      }
    },
    computed: {
      pages: function () {
        var pages = []
        for (var i = this.rangeStart; i <= this.rangeEnd; i++) {
          pages.push(i)
        }
        return pages
      },
      rangeStart: function () {
        var start = this.current - this.pageRange
        return (start > 0) ? start : 1
      },
      rangeEnd: function () {
        var end = this.current + this.pageRange
        return (end < this.totalPages) ? end : this.totalPages
      },
      totalPages: function () {
        return Math.ceil(this.total / this.perPage)
      },
      nextPage: function () {
        return this.current + 1
      },
      prevPage: function () {
        return this.current - 1
      }
    },
    methods: {
      hasPrev: function () {
        return this.current > 1
      },
      hasNext: function () {
        return this.current < this.totalPages
      },
      changePage: function (page) {
        this.$emit('page-changed', page)
      }
    }
  }
</script>
<style>

</style>
