<template>
  <div class="">
    <div class="">
          <div class="main-wrapper">
            <div class="main">
              <div class="  main-inner">
                <div class="row">
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <select name="" id="" class="form-control">
                      <option value="">Sort By :</option>
                      <option value="">Newst</option>
                      <option value="">Oldest</option>
                      <option value="">Hight Price</option>
                      <option value="">Lowest Price</option>
                      <option value="">Smallest Land Area</option>
                      <option value="">Largest Land Area</option>
                      <option value="">Smallest Building Area</option>
                      <option value="">Large Building Area</option>
                    </select>
                  </div>
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Search Property By Location">
                  </div>
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <select name="" id="" class="form-control">
                      <option value="">Beds</option>
                      <option value="">1 Bedroom</option>
                      <option value="">2 Bedroom</option>
                      <option value="">3 Bedroom</option>
                      <option value="">4 Bedroom</option>
                      <option value="">5+ Bedroom</option>
                    </select>
                  </div>
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <select name="" id="" class="form-control">
                      <option value="">Type</option>
                      <option value="">Dijual</option>
                      <option value="">Disewakan</option>
                      <option value="">Lelang</option>
                      <option value="">Kerjasama</option>
                      <option value="">Tukar Menu</option>
                    </select>
                  </div>
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <div class="dropdown">
                      <button class="form-control mb-2 mr-sm-0 mb-sm-0 btn btn-primary-rx dropdown-toggle" type="button" data-toggle="dropdown">Property Type
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                      </ul>
                    </div>
                  </div>
                  <div class="rx-1 mb-2 mb-2 mr-sm-0 mb-sm-0">
                    <div class="dropdown">
                      <button class="form-control btn btn-primary-rx dropdown-toggle" type="button" data-toggle="dropdown">Property Type
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                        <li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>
                      </ul>
                    </div>
                  </div>
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Area Land Size M2">
                  </div>
                  <div class="rx-1 mb-2 mr-sm-0 mb-sm-0">
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Area Land Size M2">
                  </div>
              </div>
                  <!--<form class="form-inline">-->
                        <!--<div class="col-md-1">-->
                          <!--<select name="" id="" class="form-control">-->
                            <!--<option value="">Sort By :</option>-->
                            <!--<option value="">Newst</option>-->
                            <!--<option value="">Oldest</option>-->
                            <!--<option value="">Hight Price</option>-->
                            <!--<option value="">Lowest Price</option>-->
                            <!--<option value="">Smallest Land Area</option>-->
                            <!--<option value="">Largest Land Area</option>-->
                            <!--<option value="">Smallest Building Area</option>-->
                            <!--<option value="">Large Building Area</option>-->
                          <!--</select>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">-->
                          <!--<input type="text" class="form-control-rx mb-2 mr-sm-0 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">-->
                        <!--</div>-->
                          <!--<select name="" id="" class="form-control mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<option value="">Beds</option>-->
                          <!--<option value="">1 Bedroom</option>-->
                          <!--<option value="">2 Bedroom</option>-->
                          <!--<option value="">3 Bedroom</option>-->
                          <!--<option value="">4 Bedroom</option>-->
                          <!--<option value="">5+ Bedroom</option>-->
                        <!--</select>-->
                        <!--<select name="" id="" class="form-control mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<option value="">Type</option>-->
                          <!--<option value="">Dijual</option>-->
                          <!--<option value="">Disewakan</option>-->
                          <!--<option value="">Lelang</option>-->
                          <!--<option value="">Kerjasama</option>-->
                          <!--<option value="">Tukar Menu</option>-->
                        <!--</select>-->
                        <!--<select name="" id="" class="form-control mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<option value="">Features</option>-->
                          <!--<option value="">Garage</option>-->
                          <!--<option value="">Lelang</option>-->
                          <!--<option value="">Kerjasama</option>-->
                          <!--<option value="">Air Conditioner</option>-->
                        <!--</select>-->
                        <!--<select name="" id="" class="form-control mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<option value="">Min Price</option>-->
                          <!--<option value="">Rp 1 Jt</option>-->
                          <!--<option value="">Rp 10 Jt</option>-->
                          <!--<option value="">Rp 100 Jt</option>-->
                          <!--<option value="">Rp 1 M</option>-->
                          <!--<option value="">Rp 10 M</option>-->
                          <!--<option value="">Rp 100 M</option>-->
                          <!--<option value="">Rp 1 T</option>-->
                        <!--</select>-->
                        <!--<select name="" id="" class="form-control mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<option value="">Max Price</option>-->
                          <!--<option value="">Rp 1 Jt</option>-->
                          <!--<option value="">Rp 10 Jt</option>-->
                          <!--<option value="">Rp 100 Jt</option>-->
                          <!--<option value="">Rp 1 M</option>-->
                          <!--<option value="">Rp 10 M</option>-->
                          <!--<option value="">Rp 100 M</option>-->
                          <!--<option value="">Rp 1 T</option>-->
                        <!--</select>-->
                        <!--<div class="dropdown">-->
                          <!--<button class="btn btn-primary-rx dropdown-toggle" type="button" data-toggle="dropdown">Property Type-->
                            <!--<span class="caret"></span></button>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="dropdown">-->
                          <!--<button class="btn btn-primary-rx dropdown-toggle" type="button" data-toggle="dropdown">Features-->
                            <!--<span class="caret"></span></button>-->
                          <!--<ul class="dropdown-menu">-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                            <!--<li><p class="text-rx-dropdown"><input type="checkbox" class="form-control" > Rumah Bagus</p></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--<input type="text" class="form-control-rx mb-2 mr-sm-0 mb-sm-0" id="inlineFormInput" placeholder="Area Land Size M2">-->
                        <!--<input type="text" class="form-control-rx mb-2 mr-sm-0 mb-sm-0" id="inlineFormInput" placeholder="Area Building Size M">-->
                        <!--<div class="switcher mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<ul>-->
                            <!--<li class="icon-maps"><a href="#"><img src="static/assets/img/map.png" alt="" class="icon-maps-img"></a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="switcher mb-2 mr-sm-0 mb-sm-0">-->
                          <!--<ul>-->
                            <!--<li class="icon-maps"><a href="#"><img src="static/assets/img/grid.png" alt="" class="icon-maps-img"></a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      <!--</form>-->
                      <!-- /.switcher -->
                    <!-- /.page-title-actions -->
                  <!-- /.container-->
                <div class="content">
                  <div class="map-wrapper">
                    <div class="map">
                      <div class="map-inner">
                        <div class="map-results">
                          <div class="map-results-inner">
                            <div class="map-results-list tse-scrollable">
                              <div class="tse-content">
                                <!-- /.map-results-header -->
                                <div class="map-results-content clickable">
                                  <!-- /.listings-row-medium -->
                                  <div class="listing-row-medium">
                                    <div class="listing-row-inner">
                                      <a class="listing-row-image" href="listings-detail.html">
                                        <span class="listing-row-image-content" style="background-image: url(assets/img/tmp/listing-24.jpg)"></span>
                                      </a>
                                      <div class="listing-row-content">
                                        <div class="listing-row-content-header">
                                          <h3><a href="listings-detail.html">Little Tavern</a></h3>
                                          <h4>2164 Hilltop Haven Drive Newark</h4>
                                          <div class="actions">
                                            <div class="actions-button">
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                            </div>
                                            <!-- /.actions-button -->
                                            <ul class="actions-list">
                                              <li><a href="#">Add to compare</a></li>
                                              <li><a href="#">Add to favorites</a></li>
                                              <li><a href="#">Report listing</a></li>
                                            </ul>
                                            <!-- /.actions-list -->
                                          </div>
                                          <!-- /.actions -->
                                        </div>
                                        <!-- /.listing-row-content-header -->
                                        <div class="listing-row-content-meta">
                                          <div class="listing-row-content-meta-item listing-row-content-meta-rating">
                                            <span class="listing-row-rating">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                            </span>
                                          </div>
                                          <!-- /.listing-row-meta-item -->
                                          <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                            <span class="tag tag-black">$923.00</span>
                                          </div>
                                          <!-- /.listing-row-meta-item -->
                                          <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                            <span class="tag">Business</span>
                                          </div>
                                          <!-- /.listing-row-meta-item -->
                                        </div>
                                        <!-- /.listing-row-meta-item -->
                                        <div class="listing-row-content-body">
                                          Nulla sed tortor luctus, scelerisque velit facilisis, euismod eros. Suspendisse varius dolor sit amet velit ullamcorper, in vestibulum mi efficitur. Fusce ipsum lorem, eleifend eget urna at
                                          <div class="listing-row-content-read-more">
                                            <a href="listings-detail.html">Read more</a>
                                          </div>
                                          <!-- /.listing-row-content-read-more -->
                                        </div>
                                        <!-- /.listing-row-content-body -->
                                      </div>
                                      <!-- /.listing-row-content -->
                                    </div>
                                    <!-- /.listing-row-inner -->
                                  </div>
                                  <div class="listing-row-medium">
                                  <div class="listing-row-inner">
                                    <a class="listing-row-image" href="listings-detail.html">
                                      <span class="listing-row-image-content" style="background-image: url(assets/img/tmp/listing-24.jpg)"></span>
                                    </a>
                                    <div class="listing-row-content">
                                      <div class="listing-row-content-header">
                                        <h3><a href="listings-detail.html">Little Tavern</a></h3>
                                        <h4>2164 Hilltop Haven Drive Newark</h4>
                                        <div class="actions">
                                          <div class="actions-button">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                          </div>
                                          <!-- /.actions-button -->
                                          <ul class="actions-list">
                                            <li><a href="#">Add to compare</a></li>
                                            <li><a href="#">Add to favorites</a></li>
                                            <li><a href="#">Report listing</a></li>
                                          </ul>
                                          <!-- /.actions-list -->
                                        </div>
                                        <!-- /.actions -->
                                      </div>
                                      <!-- /.listing-row-content-header -->
                                      <div class="listing-row-content-meta">
                                        <div class="listing-row-content-meta-item listing-row-content-meta-rating">
                            <span class="listing-row-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                                        </div>
                                        <!-- /.listing-row-meta-item -->
                                        <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                          <span class="tag tag-black">$923.00</span>
                                        </div>
                                        <!-- /.listing-row-meta-item -->
                                        <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                          <span class="tag">Business</span>
                                        </div>
                                        <!-- /.listing-row-meta-item -->
                                      </div>
                                      <!-- /.listing-row-meta-item -->
                                      <div class="listing-row-content-body">
                                        Nulla sed tortor luctus, scelerisque velit facilisis, euismod eros. Suspendisse varius dolor sit amet velit ullamcorper, in vestibulum mi efficitur. Fusce ipsum lorem, eleifend eget urna at
                                        <div class="listing-row-content-read-more">
                                          <a href="listings-detail.html">Read more</a>
                                        </div>
                                        <!-- /.listing-row-content-read-more -->
                                      </div>
                                      <!-- /.listing-row-content-body -->
                                    </div>
                                    <!-- /.listing-row-content -->
                                  </div>
                                  <!-- /.listing-row-inner -->
                                </div>
                                <div class="listing-row-medium">
                                <div class="listing-row-inner">
                                  <a class="listing-row-image" href="listings-detail.html">
                                    <span class="listing-row-image-content" style="background-image: url(assets/img/tmp/listing-24.jpg)"></span>
                                  </a>
                                  <div class="listing-row-content">
                                    <div class="listing-row-content-header">
                                      <h3><a href="listings-detail.html">Little Tavern</a></h3>
                                      <h4>2164 Hilltop Haven Drive Newark</h4>
                                      <div class="actions">
                                        <div class="actions-button">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                        </div>
                                        <!-- /.actions-button -->
                                        <ul class="actions-list">
                                          <li><a href="#">Add to compare</a></li>
                                          <li><a href="#">Add to favorites</a></li>
                                          <li><a href="#">Report listing</a></li>
                                        </ul>
                                        <!-- /.actions-list -->
                                      </div>
                                      <!-- /.actions -->
                                    </div>
                                    <!-- /.listing-row-content-header -->
                                    <div class="listing-row-content-meta">
                                      <div class="listing-row-content-meta-item listing-row-content-meta-rating">
                            <span class="listing-row-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                                      </div>
                                      <!-- /.listing-row-meta-item -->
                                      <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                        <span class="tag tag-black">$923.00</span>
                                      </div>
                                      <!-- /.listing-row-meta-item -->
                                      <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                        <span class="tag">Business</span>
                                      </div>
                                      <!-- /.listing-row-meta-item -->
                                    </div>
                                    <!-- /.listing-row-meta-item -->
                                    <div class="listing-row-content-body">
                                      Nulla sed tortor luctus, scelerisque velit facilisis, euismod eros. Suspendisse varius dolor sit amet velit ullamcorper, in vestibulum mi efficitur. Fusce ipsum lorem, eleifend eget urna at
                                      <div class="listing-row-content-read-more">
                                        <a href="listings-detail.html">Read more</a>
                                      </div>
                                      <!-- /.listing-row-content-read-more -->
                                    </div>
                                    <!-- /.listing-row-content-body -->
                                  </div>
                                  <!-- /.listing-row-content -->
                                </div>
                                <!-- /.listing-row-inner -->
                              </div>
                              <div class="listing-row-medium">
                              <div class="listing-row-inner">
                                <a class="listing-row-image" href="listings-detail.html">
                                  <span class="listing-row-image-content" style="background-image: url(assets/img/tmp/listing-24.jpg)"></span>
                                </a>
                                <div class="listing-row-content">
                                  <div class="listing-row-content-header">
                                    <h3><a href="listings-detail.html">Little Tavern</a></h3>
                                    <h4>2164 Hilltop Haven Drive Newark</h4>
                                    <div class="actions">
                                      <div class="actions-button">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                      </div>
                                      <!-- /.actions-button -->
                                      <ul class="actions-list">
                                        <li><a href="#">Add to compare</a></li>
                                        <li><a href="#">Add to favorites</a></li>
                                        <li><a href="#">Report listing</a></li>
                                      </ul>
                                      <!-- /.actions-list -->
                                    </div>
                                    <!-- /.actions -->
                                  </div>
                                  <!-- /.listing-row-content-header -->
                                  <div class="listing-row-content-meta">
                                    <div class="listing-row-content-meta-item listing-row-content-meta-rating">
                            <span class="listing-row-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                                    </div>
                                    <!-- /.listing-row-meta-item -->
                                    <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                      <span class="tag tag-black">$923.00</span>
                                    </div>
                                    <!-- /.listing-row-meta-item -->
                                    <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                      <span class="tag">Business</span>
                                    </div>
                                    <!-- /.listing-row-meta-item -->
                                  </div>
                                  <!-- /.listing-row-meta-item -->
                                  <div class="listing-row-content-body">
                                    Nulla sed tortor luctus, scelerisque velit facilisis, euismod eros. Suspendisse varius dolor sit amet velit ullamcorper, in vestibulum mi efficitur. Fusce ipsum lorem, eleifend eget urna at
                                    <div class="listing-row-content-read-more">
                                      <a href="listings-detail.html">Read more</a>
                                    </div>
                                    <!-- /.listing-row-content-read-more -->
                                  </div>
                                  <!-- /.listing-row-content-body -->
                                </div>
                                <!-- /.listing-row-content -->
                              </div>
                              <!-- /.listing-row-inner -->
                            </div>
                            <div class="listing-row-medium">
                            <div class="listing-row-inner">
                              <a class="listing-row-image" href="listings-detail.html">
                                <span class="listing-row-image-content" style="background-image: url(assets/img/tmp/listing-24.jpg)"></span>
                              </a>
                              <div class="listing-row-content">
                                <div class="listing-row-content-header">
                                  <h3><a href="listings-detail.html">Little Tavern</a></h3>
                                  <h4>2164 Hilltop Haven Drive Newark</h4>
                                  <div class="actions">
                                    <div class="actions-button">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                    </div>
                                    <!-- /.actions-button -->
                                    <ul class="actions-list">
                                      <li><a href="#">Add to compare</a></li>
                                      <li><a href="#">Add to favorites</a></li>
                                      <li><a href="#">Report listing</a></li>
                                    </ul>
                                    <!-- /.actions-list -->
                                  </div>
                                  <!-- /.actions -->
                                </div>
                                <!-- /.listing-row-content-header -->
                                <div class="listing-row-content-meta">
                                  <div class="listing-row-content-meta-item listing-row-content-meta-rating">
                            <span class="listing-row-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </span>
                                  </div>
                                  <!-- /.listing-row-meta-item -->
                                  <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                    <span class="tag tag-black">$923.00</span>
                                  </div>
                                  <!-- /.listing-row-meta-item -->
                                  <div class="listing-row-content-meta-item listing-row-content-meta-category">
                                    <span class="tag">Business</span>
                                  </div>
                                  <!-- /.listing-row-meta-item -->
                                </div>
                                <!-- /.listing-row-meta-item -->
                                <div class="listing-row-content-body">
                                  Nulla sed tortor luctus, scelerisque velit facilisis, euismod eros. Suspendisse varius dolor sit amet velit ullamcorper, in vestibulum mi efficitur. Fusce ipsum lorem, eleifend eget urna at
                                  <div class="listing-row-content-read-more">
                                    <a href="listings-detail.html">Read more</a>
                                  </div>
                                  <!-- /.listing-row-content-read-more -->
                                </div>
                                <!-- /.listing-row-content-body -->
                              </div>
                              <!-- /.listing-row-content -->
                            </div>
                            <!-- /.listing-row-inner -->
                          </div>
                                  <!-- /.listings-row-medium -->
                                </div>
                                <!-- /.map-results-content -->
                              </div>
                              <!-- /.tse-content -->
                            </div>
                            <!-- /.map-results-list -->
                            <!-- /.map-results-detail -->
                            <!-- /.map-results-toggle -->
                          </div>
                          <!-- /.map-results-inner -->
                        </div>
                        <!-- /.map-results -->

                        <!-- /#map-object -->
                      </div>
                      <!-- /.map-inner -->
                    </div>
                    <!-- /.map -->
                  </div>
                  <!-- /.map-wrapper -->
                  </div>
                </div>
                <!-- /.content -->
              </div>
              <!-- /.main-inner -->
            </div>
            <!-- /.main -->
          </div>
  </div>
</template>
<script>
  import GoogleMapsLoader from 'google-maps'
  GoogleMapsLoader.KEY = 'AIzaSyBt6Pwo89NTFbXWEtrcEsL14M6af-gSjfQ'
  export default {
    data () {
      return {
        company: []
      }
    },
    methods: {
      createMap () {
        GoogleMapsLoader.load(function (google) {
          let latlng = { lat: -6.225673, lng: 106.808481 }
          let options = {
            center: latlng,
            zoom: 12
          }
          return new google.maps.Map(document.getElementById('map2'), options)
        })
      }
    },
    created () {
      this.createMap('map2')
    }
  }
</script>
<style>

</style>
