<template>
  <div id="app">
  <div class="page-wrapper">
  <div class="header-wrapper">
    <div class="header">
       <div class="container">
          <div class="header-inner">
            <div class="navigation-toggle toggle">
                <span></span>
                <span></span>
                <span></span>
             </div>
             <router-link to='/'>
              <div v-for="franchise in franchises">
               <div v-if="franchise.links.frofFileId == null">
               <div class="header-logo-rx">
                <img src="/static/assets/img/logo_remax.jpg" class="svg">
               </div>
               </div>
              </div>
              <div v-for="logo in logos">
               <div class="header-logo-rx">
                <img src="/static/assets/img/logo_remax.jpg" class="svg" alt="Home" v-if="error == 404">
                <img :src="imageUri + logo.filePreview" class="svg" alt="Home" v-else>
              </div>
             </div>
             </router-link>
            <!-- <div class="header-logo-rx" v-else> -->
            <!-- </div> -->
                <div class="header-nav pull-right">
                  <div class="primary-nav-wrapper">
                    <ul class="nav">
                      <li class="nav-item" v-for="menu in menus">
                        <router-link :to="'/'+menu.wbmnAPI"><a class="nav-link">{{ menu.wbmlName }}</a></router-link>
                      </li>
                    <div v-for="language in languages">
                      <li class="nav-item">
                        <a class="" v-for="image in images" v-if="language.links.langFileId == image.id">
                        <router-link :to="'?language'+language.langCode">
                          <img  style="width: 30px; height: 15px; margin: 22px 7px 0px 0px;" :src="imageUri + image.filePreview + '?size=30,32'" alt="" class="img-responsive">
                        </router-link>
                        </a>
                      </li>
                    </div>
                    </ul>
                  </div>
            <!-- /.primary-nav-wrapper -->
                </div>
          <!-- /.header-toggle -->
          </div>
        <!-- /.header-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header -->
  </div>
    <router-view></router-view>
  </div>
  <div class="footer-wrapper footer-image" >
        <div class="footer">
          <div class="footer-inner footer-image-background">
            <div class="container text-logo">
              <div class="row">
                <div class="col-lg-4">
                  <div class="widget">
                    <h3>
                      <img src="/static/assets/img/logo-white.png" class="svg" alt="Home">
                    </h3>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row" v-for="footer in footers">
                <div class="col-lg-4 text-footer">
                      <p>
                        {{ footer.compAddress }}
                      </p>
                      <p>
                        <i class="fa fa-phone"></i>&nbsp;&nbsp;{{ footer.compPhone1 }}<br>
                        <i class="fa fa-fax"></i>&nbsp;&nbsp;{{ footer.compFax1 }}<br>
                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;{{ footer.compPhone1 }}
                      </p>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.footer-inner -->
        </div>
        <!-- /.footer -->
      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
      menus: [],
      languages: [],
      images: [],
      logos: [],
      footers: [],
      franchises: [],
      baners: [],
      error: [],
      imageUri: 'https://www.remax.co.id/prodigy/papi/'
    }
  },
  methods: {
    getLogo () {
      let vm = this
      function fetchFranchise () {
        let host = location.host.split('.')
        let domain = host.shift()
        return new Promise((resolve, reject) => {
          axios.get('https://www.remax.co.id/prodigy/papi/franchise?filter[frofOfficeName]=' + '%27' + domain + '%27')
          .then((result) => {
            if (result.data.data == null) {
              return 'data not found'
            } else {
              resolve(result)
            }
          })
        })
      }
      fetchFranchise()
      .then((response) => {
        vm.franchises = response.data.data
        // console.log(vm.franchises)
        vm.logos = response.data.linked.frofFileId
        axios.get('https://www.remax.co.id/prodigy/papi/' + response.data.linked.frofFileId[0]['filePreview'])
        .then((response) => {
          // console.log(response)
        })
        .catch((e) => {
          vm.error = e.response.status
          // console.log(vm.error)
        })
      })
      .catch((e) => {
      })
    },
    getHeader () {
      let vm = this
      axios.get('https://www.remax.co.id/prodigy/papi/webmenu&filter[wbmnTo]=' + encodeURIComponent("'o'"))
      .then((response) => {
        // console.log(response)
        vm.menus = response.data.data
      })
    },
    getLanguage () {
      let vm = this
      axios.get('https://www.remax.co.id/prodigy/papi/language')
      .then((response) => {
        vm.languages = response.data.data
        vm.images = response.data.linked.langFileId
        // console.log(vm.images)
      })
    },
    getBaner () {
      let vm = this
      axios.get('https://www.remax.co.id/prodigy/papi/webbanner')
      .then((result) => {
        vm.baners = result.data.data
        // console.log(vm.baners)
      })
    },
    getFooter () {
      let vm = this
      axios.get('https://www.remax.co.id/prodigy/papi/company')
      .then((response) => {
        vm.footers = response.data.data
        // console.log(vm.footers)
      })
    }
  },
  created () {
    this.getHeader()
    this.getLanguage()
    this.getLogo()
    this.getFooter()
    this.getBaner()
  }
}
</script>

<style>

</style>
